body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: #1c1c1c;
  max-width: 1080px;
  margin: 0 auto;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* START BTN */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center button {
  font-size: 3rem;
  padding: 20px;
}


.question--folder--main {
  margin: 2rem 0;
}





.main {

  display: flex;

  justify-content: center;
  align-items: center;
  margin: 1rem 10rem;
  text-align: center;

}

.question--folder {

  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.info p,
h2 {
  margin: 0;
  padding: 0;
}


.question--folder .question {
  border: 2px solid royalblue;
  border-radius: 20px;
  font-weight: 600;
  transition: 500ms;
  padding: 2px
}

.question--folder .question:hover {
  color: orange;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 500ms;

}




/* glowe border */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 200% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


.navbar {
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  color: rgb(195, 226, 17);
  display: flex;
 
  justify-content: center;
  width: 400px;
  margin: 0 auto;

}